<!--MULTIPLE-Chart-BEGIN-->
<div>
	<h6><a class="text-dark" href="%%LINK%%" target="_blank">%%TITLE%%</a></h6>
	<span class="text-%%DIFFCOLOR%%">Price difference to yesterday: %%DIFF%%&euro;</span>
	<br>
	<form action="%%SERVERURL%%/action.php" method="post" id="form-delete">
		<input type="hidden" name="file-name" id="file-name">
		<a href="#" onclick="let c = confirm('Really delete?'); if (c == true) {
				document.getElementById('file-name').value = '%%FILE%%';
				document.getElementById('form-delete').submit(); }"
				class="badge badge-danger" style="margin-left: 15px;">
			Remove from list
		</a>
	</form>
	
	<canvas id="%%FILE%%" width="500" height="300"></canvas>
</div>

<script>
	new Chart('%%FILE%%', {
		type: 'line',
		data: {
			labels: %%LABELTEXT%%,
			datasets: [{
				backgroundColor: 'rgba(255, 99, 132, 0.2)',
				borderColor: 'rgba(255, 99, 132, 1)',
				data: %%DATATEXT%%,
				label: '%%TITLE%%',
				fill: 'origin'
			}]
		}
	});
</script>
<!--MULTIPLE-Chart-END-->